/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f0f2f5;
  }
  
  .navbar {
    background-color: #ff7043;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-radius: 20px;
  }
  
  h1 {
    color: #ff7043;
  }
  