<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="row w-75 shadow-lg rounded-4 overflow-hidden">
      <!-- Sección Roja con Curva -->
      <div class="col-md-6 p-0">
        <div class="curved-bg d-flex justify-content-center align-items-center">
          <img
            src="https://cdn-icons-png.flaticon.com/512/4128/4128273.png"
            class="img-fluid"
            alt="Logo"
            style="width: 180px;"
          />
        </div>
      </div>
      <!-- Sección de Login -->
      <div class="col-md-6 bg-white p-4">
        <h3 class="text-center mb-3 fw-bold">BIENVENIDO</h3>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group mb-2">
            <input
              type="email"
              class="form-control custom-input"
              placeholder="EMAIL"
              formControlName="email"
              required
            />
          </div>
          <div class="form-group mb-2">
            <input
              type="password"
              class="form-control custom-input"
              placeholder="CONTRASEÑA"
              formControlName="password"
              required
            />
          </div>
          <button
            type="submit"
            class="btn btn-custom w-100 mt-4"
            [disabled]="loginForm.invalid || loading"
          >
            {{ loading ? 'Cargando...' : 'INICIAR SESIÓN' }}
          </button>
        </form>
        <div class="text-center mb-2">
          <a href="#" class="text-muted small-link">¿Olvidaste tu contraseña?</a>
        </div>
        <div class="text-center">
          <span class="text-muted small-link">AÚN NO TENGO CUENTA <a href="#">REGISTRARSE</a></span>
        </div>
      </div>
    </div>
  </div>
  